body {
  font-family: 'Futura PT', sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.navbar {
  background-color: black;
  color: white;
}

.navbar ul {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  overflow-x: scroll;
  white-space: nowrap;
}

.navbar ul li {
  display: inline;
}

.navbar ul li:not(:first-child) {
  margin-left: 20px;
}

.connecting {
  border-right: 2px solid white;
  padding-right: 15px;
}

.connecting-text {
  display: inline-block;
}

.center-container {
  padding-top: 0px;
  margin: 0 auto;
  text-align: center;
}

.mining-box {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mining-box div {
  font-size: 20px;
}

.mining-text {
  background-color: #E1E8ED;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.mining-input {
  padding-top: 3px;
}

.mining-input input {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: none;
  width: 300px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: -10px;
  color: white;
}

p {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

.primary-button {
  display: inline-block;
  background-color: #ADFF2F;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  color: black;
}

#gif-gallery {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gif {
  width: 200px;
  margin: 20px;
}

.gif-link {
  text-align: center;
  margin-bottom: 20px;
}

.gif-link a {
  color: white;
  font-size: 20px;
}

.gif-link i {
  padding-left: 10px;
}

.gif img {
  width: 200px;
  height: 200px;
}

.loading-blockchain {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.blockchain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  justify-content: flex-start;
  margin-top: 25px;
}

.block {
  background-color: white;
  padding: 0px;
  width: 250px;
  border: 2px solid #ADFF2F;
}

.block-field {
  font-size: 16px;
  padding: 5px;
  color: black;
}

.well {
  padding: 5px;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #E1E8ED;
}

.block-gif {
  width: 100%;
  height: 160px;
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connector div {
  height: 8px;
  width: 60px;
  background-color: #ADFF2F;
}

.block-preview {
  border: 3px dashed #ADFF2F;
  background-color: none;
  padding: 20px 20px 25px 20px;
  width: 250px;
  font-size: 30px;
  color: white;
  position: relative;
}

.block-mined {
  border: 3px dashed #ADFF2F;
  background-color: none;
  padding: 20px 20px 25px 20px;
  width: 250px;
  font-size: 30px;
  color: white;
  position: relative;
}

.preview-header {
  text-align: center;
}

.pickaxe {
  text-align: center;
}

.nonce-loader {
  text-align: center;
  font-size: 18px;
}

.nonce-loader span {
  padding-left: 10px;
}

.pickaxe img {
  width: 40%;
}

.footer {
  position: fixed;
  bottom: 15px;
  left: 50%;
  margin-left: -80px;
  width: 200px;
}

.footer a {
  color: white;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
  z-index: -3;
}

.twinkling {
  background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
  z-index: -2;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(http://sylvaingarnot.fr/media/clouds.png) repeat top center;
  z-index: -1;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.loading-circle {
  display: inline-block;
  position: relative;
  margin-bottom: -5px;
  margin-right: 30px;
}

.connected-circle {
  position: relative;
  margin-bottom: -5px;
  width: 20px;
  margin-right: 10px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
}

.hidden {
  display: none !important;
}

.double1, .double2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  opacity: 0.6;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.nonce-start-text {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .mining-box {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
  }
  .mining-box div {
    font-size: 16px;
  }
  p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .preview-header {
    font-size: 20px;
  }
  .pickaxe img {
    width: 30%;
  }
  .nonce-start-text {
    font-size: 18px;
    text-align: center;
  }
  input {
    text-align: center;
    padding-left: 0px;
    width: 90%;
    margin-left: -0px;
  }
  .primary-button {
    font-size: 16px;
  }
  .blockchain {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  .connector div {
    height: 40px;
    width: 8px;
  }
}
